body {
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.frame{
    overflow: hidden;
    height: 100vh;
}

video{
    height:100vh;
    transform: scale(1.0);
}

.video-container {
    /* position: fixed; */
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

#record-video {
    position: fixed;
    right: 6rem;
    top: 35vh;
}

#click-picture {
    position: fixed;
    right: 6rem;
    top: 40vh;
}

#zoom-in{
    position: fixed;
    right: 6rem;
    top: 60vh;
}

#zoom-out{
    position: fixed;
    right: 6rem;
    top: 65vh;
}

.filter-container {
    border: 1px solid white;
    position: fixed;
    top: 20vh;
    left: 5vw;
    height: 60vh;
    width: 6vw;
}

.filter {
    border: 1px solid white;
    height: 20%;

}

.filter-screen-parent {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0
}